@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: op;
    src: url(/public/font/GoldleafBoldPersonalUseBold-eZ4dO.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
html , body{
    height: 100%;
    width: 100%;
}
.sd{
    box-shadow: 0 0  15px 0px #5feeee;
}
.box{
    background: #EBF2FF;
}
.title{
    font-family: op;
}
.dark {
    @apply bg-slate-900 text-white;
}
.dark2{
    @apply bg-slate-700 text-white;
}
.dark3{
    @apply bg-slate-900 text-white border-b-white border-l-white;
}
.active-link {
    @apply bg-blue-600 text-white rounded-lg;
}

.accent-bg {
    @apply bg-[#EBF2FF];
}